@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

html {
  font-size: 62.5%;
}

#pv_id_1_badge {
  font-size: 2rem !important;
  padding: 4px;
  height: 25px;
  width: 25px;
}


